* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;

}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Syne+Mono&display=swap');

.bg-con {
    position: relative;
    /* border: 1px solid green; */
}

.main-heading {
    position: absolute;
    /* border: 1px solid blue; */
    top: 13em;
    left: 9em;
    height: auto;
}

.head-text {
    line-height: 3em;
    top: 6em;
    left: 4.5em;
}

.hello {
    display: block;
    color: white;
    font-size: 3.5em;
    font-family: 'Syne Mono', monospace;
}

.hello:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.me {
    display: block;
    color: #EA0F1E;
    font-size: 5rem;
    font-family: 'Syne Mono', monospace;
}

.me:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.text-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    height: auto;
    padding-top: 120px;
}

.picture {
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
}

.nav-con { 
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 23%;
    top: 26.5em;
    left: 9em;
    /* border: 1px solid green; */
}

.nav-list a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Syne Mono', monospace;  
}

a:hover {
    color: red;
}

.about-image {
    position: absolute;
    right: 0;
    top: 15em;
}

#content1 {
    color: white;
    /* border: yellow 1px solid; */
    width: 70%;
    height: auto;
    margin-top: 10em;
    margin-bottom: 5em;
    margin-left: 9em;
}  

h3 {
    font-family: 'Syne Mono', monospace;
    font-size: 2em;
    color: red;
}


h4 {
    font-family: 'Syne Mono', monospace;
    font-size: 1.5em;
    opacity: 0.9;
}

p {
    font-family: 'Syne Mono', monospace;
    line-height: 1.5em;
    text-align: justify;
}

#content2{
    font-family: 'Syne Mono', monospace;
    margin-left: 9em;
    /* border: 1px solid yellow; */
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.call h3 {
    font-family: 'Syne Mono', monospace;
    /* border: violet 1px solid; */
}

.nav-con2 {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
}

.nav-list2{
    padding-top: 10px;
    text-decoration: none;
    list-style: none;
}

.nav-list2 a {
    text-decoration: none;
    color: white;
    
}

.nav-list2 a:hover {
    color: red;
}

.nav-list2:nth-child(1) {
    padding-top: 5px;
}


.footer {
    color: white;
    font-size: 0.7rem;
    margin-left: 13em;
    margin-bottom: 2em;
    width: 70%;
    /* border: orange 1px solid; */
    font-family: 'Syne Mono', monospace;

}